{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage", 
                "corejs": "3.0.1"
            }
        ],
        [
            "@babel/preset-react",
            {
                "pragma": "dom", 
                "pragmaFrag": "DomFrag", 
                "throwIfNamespace": false 
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-react-jsx"
    ]
}   